@import '../../variables.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid $baseDarken;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
    
  color: $baseText;
  
  transition: all 0.4s ease-out;
  
  img {
    border-bottom-left-radius: 19px;

    transition: all 0.4s ease-out;
  }
  p {
    margin: 4px 10px;

    font-size: 18px;
    font-weight: 300;
  }

  .cardName {
    align-self: center;

    margin: 9px 12px;

    font-size: 21px;
    font-weight: 600;

    transition: all 0.4s ease-out;
  }
}

@media (hover: hover) {
  .card:hover {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    img {
      border-bottom-right-radius: 19px;
    }

    .cardName {
      transform: scale(1.1, 1.1);
    }
  }
}
