@import '../../variables.scss';

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 35px 0;

  background-color: $base;

  .searchLine {
    input {
      width: min(60vw, 500px);
      height: 31px;
      margin-right: 8vw;
      padding-left: 6px;
      border: none;

      font-size: 18px;
      color: $baseText;

      border-radius: 5px;
    }
    input:focus {
      outline: $baseDarken solid 1.2px;
    }
    input::placeholder {
      color: $baseText;

      opacity: 0.6;
    }
  }
}
